[submodule "Projects/clockSynchronisation"]
	path = Projects/clockSynchronisation
	url = https://github.com/Rorschak84/ArcLoRaM-Hub.git
[submodule "Projects/Simulator"]
	path = Projects/Simulator
	url = https://github.com/Rorschak84/ArcLoRaM-Hub.git
[submodule "Projects/Visualizer"]
	path = Projects/Visualizer
	url = https://github.com/Rorschak84/ArcLoRaM-Hub.git
