[submodule "Projects/Simulation"]
	path = Projects/Simulation
	url = https://github.com/Rorschak84/arcloram-simulation.git
	branch = master
[submodule "Projects/Interface"]
	path = Projects/Interface
	url = https://github.com/Rorschak84/arcloram-visualisation.git
	branch = main
[submodule "Projects/ClockSynchronization"]
	path = Projects/ClockSynchronization
	url = https://github.com/Rorschak84/ArcLoRaM-ClockSynchronization.git
	branch = main
